@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html{
  font-size:62.5%;
}

body {
  background-color:#24292e;
  font-family: "Kumbh Sans", sans-serif;  
  text-align: center;    
  padding-bottom: 100px;
}

main {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;      
}

.divider{
  /* border-top: 1px solid black; */
  width: 90%;
  margin-top:40px;
  margin-bottom:30px;
}

.devicon-github-original{
  font-size: 6rem;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.section{
  padding: 70px 0;
}

.container {
  width: 60%; /* se for uma tela menor que 980px vai se adaptar a 70% */
  max-width: 960px; /* quando chegar em 980px para de aumentar */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 1.7rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
}

.container header #btn-search {
  width: 200px;
  font-size: 1.7rem;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;  
  cursor: pointer;
  border: 1px solid grey;
}

.container header #btn-search:hover {
  background-color: hotpink;
  color: #ffffff;
  border-color: #ffffff;
}

.container .profile-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;  
}


.container .profile-data .info {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
}

.container .profile-data .info .data{
  padding: 40px;
  width: 50%;
}

.container .profile-data .info img{
  width: 50%;
  border-radius: 50%;
  border: 10px solid hotpink;
}

.container .profile-data .info h1{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p{
  font-size: 1.5rem;  
  font-weight: 400;
  line-height: 23px;
}

.container .profile-data .follow-info{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top:50px;
}
.container .profile-data .follow-info .followers p,
.container .profile-data .follow-info .following p{
  font-size: 2rem;
  margin-bottom:40px;
}
.container .profile-data .follow-info .followers div,
.container .profile-data .follow-info .following div{
  color: white;
  border-radius: 50%;
  padding:20px 10px;
  font-size: 2rem;
  margin-bottom:40px;
}
.container .profile-data .follow-info .followers div{
  background-color:hotpink;
}
.container .profile-data .follow-info .following div{
  background-color:purple;
}


/* REPOSITORIES */

.container .profile-data .repositories h2{
  font-size:2.4rem;
  margin-bottom: 30px;
  text-align: center;
}

.container .profile-data .repositories ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .profile-data .repositories ul li a{
  font-size:1.2rem;
  padding: 10px 15px;
  border: 1px solid grey;  
  margin: 20px;
  display: block;
  border-radius: 7px;
  text-align: left;
  transition: 0.3s ease-in-out;
}

.container .profile-data .repositories ul li a h3{
  font-size:2rem;
  margin-bottom: 10px;
}

.container .profile-data .repositories ul li a .info-icons{
  display: flex;
}
.container .profile-data .repositories ul li a .info-icons div{
  background-color:rgb(121, 109, 196);
  margin-right:5px;
  padding:5px;
  border-radius:5px;
  color: white;
  font-size:1.5rem;
}
.container .profile-data .repositories ul li a:hover{
  background-color:hotpink;
  color: #fff
}

.container .profile-data.hide{
  display: none;
}


/* ACTIVITIES */
.container .profile-data .activities{
  /* display: flex;
  flex-direction: column; */
}
.container .profile-data .activities h2{
  font-size: 2.3rem;
  font-weight:300;
  margin-bottom:20px;
}
.container .profile-data .activities h3{
  font-size: 1.5rem;
  text-align:left;
  /* width:90%; */
}
.container .profile-data .activities span{
  font-weight: 300;
  margin-left: 10px;
}
@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
  }

  .container header {
    width: 100%;
  }

  .container header h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container header #input-search,
  .container header #btn-search
  {
    width: 100%;
  }
}

@media (max-width: 425px) {
  main {
    padding: 15% 0;    
  }

  .container .profile-data .info img{
    margin-bottom: 20px;
  }

  .container .profile-data .info img,
  .container .profile-data .info .data
  {
    width: 100%;
    padding: 0;
  }
}
